include README.md
include LICENSE
include CHANGELOG.md
include pyproject.toml
recursive-include src/NEMO_mqtt_bridge/templates *
recursive-include src/NEMO_mqtt_bridge/migrations *
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
global-exclude .DS_Store
global-exclude *.egg-info
global-exclude build
global-exclude dist
global-exclude .venv
global-exclude venv
global-exclude .pytest_cache
global-exclude .mypy_cache
global-exclude .coverage
global-exclude htmlcov
global-exclude .tox
global-exclude .eggs